# Backend environment variables
# REQUIRED
DATABASE_URL="file:./dev.db"
JWT_SECRET="replace_me_with_a_long_random_string"

# OPTIONAL
PORT=5001
CORS_ORIGIN="http://localhost:3000"

# MAIL_SERVER_*
#
# These variables govern how
# the backend connects with and uses the SMTP/mail server.
# The mail server is currently only used
# for sending reset-password email messages.
#
# Example MAIL_SERVER_* configuration:
#
# # This is the hostname of Gmail's SMTP server.
# MAIL_SERVER=smtp.gmail.com
# # We must connect to the mail server via this port
# # if we are to communicate with it directly over TLS.
# MAIL_SERVER_PORT=465
# # Communicate with the mail server directly over TLS.
# MAIL_SERVER_SECURE=1
# # An app password is distinct
# # from the regular password of a Google account.
# # See https://support.google.com/accounts/answer/185833 for full details.
# MAIL_SERVER_AUTH='{
# 	"user": "throwaway@gmail.com",
# 	"pass": "App password"
# }'
# MAIL_SERVER_RESET_PASSWORD_SENDER='{
# 	"name": "Budgetwise",
# 	"address": "no-reply@budgetwise.com"
# }'

# The host name of the mail server.
# You will have to look this up for whatever mail server you use.
# If unset or empty,
# then this defaults to "localhost".
MAIL_SERVER_NAME=MAIL_SERVER_NAME_PLACEHOLDER
# The port upon which the mail server listens for mail from mail user agents.
# You will have to look this up for whatever mail server you use.
# This is usually 25, 465, or 587.
#
# If empty or unset,
# then the default depends upon MAIL_SERVER_SECURE.
# If MAIL_SERVER_SECURE is unset or is set to a nonempty string,
# then MAIL_SERVER_PORT defaults to 465.
# If MAIL_SERVER_SECURE is set to an empty string,
# then MAIL_SERVER_PORT defaults to 587.
MAIL_SERVER_PORT=MAIL_SERVER_PORT_PLACEHOLDER
# If set to a nonempty string,
# then mail will be submitted to the mail server directly over TLS.
# If set to an empty string,
# then the connection with the mail server is initially without TLS,
# but the mail may still be submitted to the mail server over TLS
# if the mail user agent (in this case, the back end server) and mail server
# choose to upgrade the connection between them via certain SMTP commands
# (details are beyond the scope of this file).
#
# If unset,
# then the default depends upon MAIL_SERVER_PORT.
# If MAIL_SERVER_PORT is set to 465,
# then MAIL_SERVER_SECURE defaults to true.
# If MAIL_SERVER_PORT is set to some other nonempty string,
# then MAIL_SERVER_SECURE defaults to false.
# The comment above MAIL_SERVER_PORT covers the case
# wherein MAIL_SERVER_PORT is empty or unset.
MAIL_SERVER_SECURE=MAIL_SERVER_SECURE_PLACEHOLDER
# A JSON value describing how the user agent (the back end server)
# authenticates itself to the mail server.
# See https://nodemailer.com/smtp#authentication for details.
#
# If not set to a valid JSON value (including if unset),
# then the user agent does not attempt to authenticate itself
# to the mail server.
MAIL_SERVER_AUTH=MAIL_SERVER_AUTH_PLACEHOLDER
# A JSON value specifying the sender of the reset-passowrd email messages.
# See https://nodemailer.com/message/addresses for details.
#
# If not set t a valid JSON value (including if unset),
# then the sender of the reset-password emails
# defaults to "Budgetwise <no-reply@HOSTNAME>",
# where HOSTNAME is the host name of the back end server.
MAIL_SERVER_RESET_PASSWORD_SENDER=MAIL_SERVER_RESET_PASSWORD_SENDER_PLACEHOLDER

# Optional for AI features
GROQ_API_KEY="GROQ_KEY_PLACEHOLDER"
GROQ_MODEL_PRIMARY="llama-3.3-70b-versatile"
GROQ_MODEL_FALLBACK_1="openai/gpt-oss-20b"
GROQ_MODEL_FALLBACK_2="openai/gpt-oss-120b"
GROQ_MAX_TOKENS_INSIGHTS=320
GROQ_MAX_TOKENS_COMPARISON=480
GROQ_MAX_INPUT_CATEGORIES=8
